<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</head>

<body class="position-absolute top-50 start-50 translate-middle">
    <div>
        <form class="d-flex flex-column justify-content-center" action="/productos" method="POST">
            <h2>Ingrese su producto</h2>
            <input type="text" class="form-control" placeholder="nombre" name="name">
            <input type="text" class="form-control" placeholder="precio" name="price">
            <input type="text" class="form-control" placeholder="thumbnail" name="thumbnail">
            <a href="/productosList"><button type="submit" class="btn btn-primary">Submit</button></a>
        </form>
    </div>
    <div class="col">
        <table class="table table-dark table-striped">
            <% if(productos.length == 0){ %>
                <h1>No hay productos</h1>
            <% }else{ %>
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">thumbnail</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% productos.forEach(i => { %> 
                    <tr>
                        <td><a href="/productos/<%=i.id %>"><%=i.name %></a></td>
                        <td><%=i.price %> </td>
                        <td><%=i.thumbnail %> </td>
                        <td><a href="/productos/<%=i.id %>"><button type="button" class="btn btn-danger">Borrar</button></a></td>
                    </tr>
                    <% }) %> 
                </tbody>
            <% } %> 
        </table>
    </div>
    <div>
        <a href="/">
            Ir a chat
        </a>
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>

</html>